.wrap {
  overflow: hidden;
}

.carousel {
  display: flex;
  left: -100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  transform: translateX(100%);
}
@media (min-width: 30em) {
  .carousel {
    left: -33.33333%;
    transform: translateX(33.33333%);
  }
}
@media (min-width: 40em) {
  .carousel {
    left: -20%;
    transform: translateX(20%);
  }
}

.carousel.is-reversing {
  transform: translateX(-100%);
}
@media (min-width: 30em) {
  .carousel.is-reversing {
    transform: translateX(-33.33333%);
  }
}
@media (min-width: 40em) {
  .carousel.is-reversing {
    transform: translateX(-20%);
  }
}

.carousel.is-set {
  transform: none;
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.carousel-seat {
  flex: 0 0 100%;
  order: 2;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-seat:nth-child(even) {
  background: #d5d5d5;
}
@media (min-width: 100em) {
  .carousel-seat {
    flex-basis: 33.33333%;
  }
}
@media (min-width: 300em) {
  .carousel-seat {
    flex-basis: 20%;
  }
}


.carousel-seat.is-ref {
  order: 1;
}

h2 {
  color: #aaa;
  font-size: 7em;
  font-weight: normal;
  margin: 0;
  padding: 0.6em 0;
  text-align: center;
}
