body {
  background-color: #F0B9C5;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 300px;
}
h4 {
  font-family: 'Ubuntu';
  font-size: 24px;
  color: black;
  text-align: center;
}

h1, h2 {
  font-family: 'Ubuntu', 'Ubuntu';
  font-size: 24px;
}

p {
  color: rgb(110, 112, 172);
}

.column {
  border-radius: 25px;
  padding: 50px;
  padding-right: 10px;
  background-image: linear-gradient(180deg, #FDE0CA, white);
}

h2 {
  padding: 5px;
  color: #6E70AC;
  border-radius: 80px;
}

h5 {
  padding: 5px;
  color: #6E70AC;
  border-radius: 80px;
  font-size: 20px;
}

h1 {
  color: #6e70ac;
  font-size: 40px;
}

ul { 
  color: rgb(110, 112, 172);
  margin: 5px;
  font-family: 'Ubuntu';
  font-size: 16px;
}

img {
  max-width: 20%;
  height: 20%;
  animation-name: roll;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#EC2 {
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  filter: grayscale(0%);
}

button {
  background-color: #F0B9C5;
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 40px;
  color: rgb(110, 112, 172);
  border-radius: 80px;
  border-width: 4px;
  width: 800px;
}

.dark-mode {
  background-color: black;
  color: white;
}

#dark {
  background-color: black;
  font-family: 'Ubuntu';
  margin-left: 1200px;
  font-weight: bold;
  font-size: 20px;
  color: #FDE0CA;
  border-radius: 80px;
  border-color: white;
  width: 160px;
  height: 40px;
}

#loss {
  width: 10000px;
  border-radius: 8px;
  
}
