<!DOCTYPE html>
<html>
    <body>
        <!--the header section or the top part of every page-->
        <section class="header">
            <nav>
                <!--the logo on the header-->
                <a href="{{ site.baseurl }}/home2.html"><img src ="images/ALAATlogo.png"></a>
                <div class="nav-links">
                    <ul>
                        <!--the links to the other pages-->
                        <li><a href="{{ site.baseurl }}/home2.html">GALLERY</a></li>
                        <li><a href="{{ site.baseurl }}">Our Team</a></li>
                        <li><a href="{{ site.baseurl }}/login.html">LOGIN</a></li>
                    </ul>
                    <!--loading screen-->
                    <script>
                        var loader = document.getElementById("loading");
                        window.addEventListener("load", function(){
                            loader.style.display = "none";
                        })
                    </script>
                </div>
            </nav>
        </section>
    </body>
</html>


