<!DOCTYPE html>
<html>
    <body>
        <!--the header section or the top part of every page-->
        <section class="header">
            <nav>
                <!--the logo on the header-->
                <a href="{{ site.baseurl }}/"><img src ="images/Alogo.png"></a>
                <div class="nav-links">
                    <ul>
                        <!--the links to the other pages-->
                        <li><a href="{{ site.baseurl }}/">HOME</a></li>
                        <li><a href="{{ site.baseurl }}/page1.html">CU1</a></li>
                        <li><a href="{{ site.baseurl }}/page2.html">CU2</a></li>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropbtn">JAVASCRIPT</a>
                            <div class="dropdown-content">
                                <a href="{{ site.baseurl }}/snake">SNAKE</a>
                                <a href="{{ site.baseurl }}/snakeblog.html">LESSON</a>
                            </div>
                          </li>
                        <li><a href="{{ site.baseurl }}/page4.html">HACKS</a></li>
                        <li><a href="{{ site.baseurl }}/bootstrap.html">Bootstrap</a></li>
                        <li><a href="{{ site.baseurl }}/cu.html">Selectors</a></li>
                    </ul>
                    <!--loading screen-->
                    <script>
                        var loader = document.getElementById("loading");
                        window.addEventListener("load", function(){
                            loader.style.display = "none";
                        })
                    </script>
                </div>
            </nav>
        </section>
    </body>
</html>

<div class='wrap'>
    <ul class='carousel is-set'>
      <li class='carousel-seat' style="background-image: url('../bordrad.jpg');""
        <h2>1</h2>
      </li>
      <li class='carousel-seat'>
        <h2>2</h2>
      </li>
      <li class='carousel-seat'>
        <h2>3</h2>
      </li>
      <li class='carousel-seat'>
        <h2>4</h2>
      </li>
      <li class='carousel-seat'>
        <h2>5</h2>
      </li>
      <li class='carousel-seat'>
        <h2>6</h2>
      </li>
      <li class='carousel-seat'>
        <h2>7</h2>
      </li>
      <li class='carousel-seat'>
        <h2>8</h2>
      </li>
      <li class='carousel-seat'>
        <h2>9</h2>
      </li>
      <li class='carousel-seat'>
        <h2>10</h2>
      </li>
      <li class='carousel-seat'>
        <h2>11</h2>
      </li>
      <li class='carousel-seat is-ref'>
        <h2>12</h2>
      </li>
    </ul>
  </div>
  
  
<script>
  var carousel = $('.carousel');
var seats = $('.carousel-seat');

var next = function(el) {
  if (el.next().length > 0) {
    return el.next();0
  } else {
    return seats.first();
  }
};

var progress = function(e) {
  var el = $('.is-ref').removeClass('is-ref');
  var new_seat = next(el);

  new_seat.addClass('is-ref').css('order', 1);
  for (var i = 2, ref = seats.length; i <= ref; i++) {
    new_seat = next(new_seat).css('order', i);
    console.log(new_seat);
  }

  carousel.removeClass('is-set');

  return setTimeout((function() {
    return carousel.addClass('is-set');
  }), 50);
};

window.setInterval(function(){
  progress();
}, 2000);
</script>

