<!DOCTYPE html>
<html>
    <head>
        <!--iphone or other device view so it can format correctly-->
        <meta name="viewport" content="with=device-width", initial scale="1.0">
        <title>EC-2-GAL</title>
        <!--to connect to the .css sheet in this case it will be index.css since there will be a different .css pae for each page so there can be easy clean up-->
        <link rel="stylesheet" href="index.css">
        <!--the google fonts links front https://fonts.google.com/-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    </head>
    <body>

        {% include home.html %}

        <main id="content" class="main-content" role="main">
            {{ content }} 
            </footer>
        </main>
    </body>
</html>


